*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;left: 0;
    padding: 30px;
}
header .logo {
    font-size: 30px;
    color: #308879;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
header nav ul li{
    margin: 0 20px;
}
header nav ul li a{
    font-size: 20px;
    color: #308879;
    transition: letter-spacing .2s;
}
header nav ul li a:hover{
    letter-spacing: 2px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
}
.container .image img{
    width: 50vw;
}
.container .image{
    margin-top: 200px;
}

.container .content{
    margin-top: -100px;
    padding-left: 100px;
}
.container .content h1{
    color: #308879;
    font-size: 80px;
}

.container .content h3{
    color: #308879;
    font-size: 44px;
    font-weight: 400;
}
.container .content p {
    color: #aaa;
    font-size: 15px;
    padding: 20px 0;
}

.container .content button{
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #308879;
    color: #fff;
    font-size: 17px;
    height: 40px;
    width: 180px;
    cursor: pointer;

}